:root {
  --primary-color: #58c4dc;
}

.active {
  color: white;
  background-color: var(--primary-color) !important;
}
.nav {
  color: white;

  position: fixed;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 100;
}

.nav a {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  background-color: #494747;
  border-radius: 50%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}
.nav a:first-child {
  display: flex;
}

.nav a .label {
  display: none;
}

.nav a:hover {
  .label {
    display: block;
    position: absolute;
    right: 80px;
    background-color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 20px;
  }

  color: white;
  background-color: var(--primary-color);

  position: relative;
}

@media (max-width: 1000px) {
  .nav {
    background-color: var(--primary-color);
    width: 100vw;
    height: 120px;
    color: white;
    font-size: 50px;
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
    padding: 20px 10px;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .nav a {
    position: relative;
    background-color: #494747;
    border-radius: 50%;
    padding: 30px;
    transition: all 0.3s ease;
  }

  .nav a .label {
    display: none;
  }

  .nav a:hover {
    .label {
      display: none;
    }
    color: white;
    background-color: black;
    position: relative;
  }
  .active {
    color: white;
    background-color: black !important;
  }
}

@media (max-width: 768px) {
  .nav {
    background-color: var(--primary-color);
    width: 100vw;
    height: 90px;
    color: white;

    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
    padding: 15px 8px;
    flex-wrap: nowrap;
    align-items: stretch;
    box-sizing: border-box;
  }
  .nav a {
    position: relative;

    transition: all 0.3s ease;
    gap: 0px;

    padding: 20px;
  }

  .nav span {
    font-size: 20px;
  }
}
